*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    min-height: 80px;
    background: blue;
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h2{
    padding: 20px;
}